<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
            {{current_user}}
            {% for number in number %}
            {% if number.status == "a" %}
                <li>Sorry, no friendrequest in this list {{user}}.</li>
            {% else %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="reciever_id" value={{ number.id }}>
                <a href="#">{{number}}</a>
                <input type="submit" value="Reject" name="status">
                <input type="submit" value="Accept" name="status">
            </form>
            {%endif%}
            
            {% endfor %}
       



    
   
</body>
</html>